doctype html
html
    head
        title Practice_hover_active
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="Practice_hover_active.css")
    body
        .block1
            .block2 
            .block3