doctype html
html
    head
        title RWD_Practice3
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="Practice3.css")
        script(src="https://kit.fontawesome.com/5b70e6cec2.js" crossorigin="anonymous")
    
    body
        .container
            .topbar
                img.icon(src="https://i.postimg.cc/brCZfCC4/2024-08-13-220219-removebg-preview.png")
                input(placeholder = "搜尋人、地點、事物")
            .cover
            .midbar
                .personimg
                    .names
                        h2.chtname 企鵝先生
                        h5.engname Mr. Penguin
            .bottombar
                p
                    i.fa-solid.fa-building-columns
                    span 學歷:國立南極大學<br>
                    i.fa-solid.fa-briefcase
                    span 職業:滑雪教練<br>
                    i.fa-solid.fa-cloud
                    span 夢想:冰雕藝術家<br>
                    i.fa-solid.fa-location-dot
                    span 地點: 現居南極<br>