doctype html
html
    head
        title Bootstrap_Practice3
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous")
        link(rel="stylesheet" href="Bootstrap_Practice3.css")

    body
        header.bg-light.rounded-lg
            .container
                h3 勇敢地去追求自己想要的幸福
                h1 向日葵
        section.intro
            .container
                .row
                    .col-md-12
                        h2.section-heading 因花序隨太陽轉動（太陽花）而得名。
                        h3.section-subheading.text-muted  花語為太陽。
                    
                .row
                    .col-md-4.col-sunflower
                        img(src="https://png.pngtree.com/thumb_back/fw800/background/20230804/pngtree-a-beautiful-sunflower-image_12963309.jpg")
                        h4 向日葵總是面向陽光
                        h6.text-muted 象徵著活力和希望
                    .col-md-4.col-sunflower
                        img(src="https://png.pngtree.com/thumb_back/fw800/background/20230804/pngtree-a-beautiful-sunflower-image_12963309.jpg")
                        h4 向日葵總是面向陽光
                        h6.text-muted 象徵著活力和希望
                    .col-md-4.col-sunflower
                        img(src="https://png.pngtree.com/thumb_back/fw800/background/20230804/pngtree-a-beautiful-sunflower-image_12963309.jpg")
                        h4 向日葵總是面向陽光
                        h6.text-muted 象徵著活力和希望
        
        section.story
            .container
                .row
                    .col-md-12
                        img.icon-sunflower(src="https://cdn-icons-png.flaticon.com/512/5579/5579426.png ", alt="")
                        h2.section-heading 向日葵的故事
                        h3.section-subheading.text-muted 團結和希望的象徵
                    .row
                    .col-md-6
                        p.h2 「太陽花」向日葵的歷史
                        p.content 在古印加帝國，向日葵被視為太陽的花而被受到尊重，神殿裡雕刻著向日葵花朵，聖徒們也佩戴著金細工的向日葵裝飾。
                    .col-md-6
                        p.h2 向日葵花語與向日葵形象
                        p.content 向日葵主要是因花序隨太陽轉動的特性，加上「葵」有著「花向四方旋轉綻放」的含義而所命名。向日葵的英文名為「sun flower」，就如同太陽的花般，帶給人們充滿元氣的力量，以及活潑明亮形象。
                    
        section.pictures
            .container-fluid
                .row
                    .col-md-6.pic1
                        .text-panel
                        h1 向日葵介紹
                        p 最常見的向日葵高度為2.5～3.5公尺
                    .col-md-6.pic2
                        .text-panel
                        h1 向日葵花語
                        p 信念、光輝、高傲、忠誠、愛慕
          
        section.ask
            .container
                .row
                    .col-md-12
                        h2.section-heading 向日葵在你心中表達什麼樣的情感呢?
                        h3.section-subheading.text-muted  分享關於向日葵的故事。
                        input.form-control(placeholder="輸入你的想法...")