doctype html
html
    head
        title Brand Guideline
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="BrandGuideline.css")
    body
        .header
        img.icon(src='img/蠟筆小新logo.png', alt='')
        .content.content_color
            .max_width
                h5 Style Guildline
                h1 クレヨンしんちゃん -40px
                h1.small_english Crayon Shin-chan
                .title_hr
                h2 クレヨンしんちゃん -30px
                h2.small_english Crayon Shin-chan
                h3 クレヨンしんちゃん -20px 
                h3.small_english Crayon Shin-chan
                hr
                h5 VI Colors
                .color_chip
                    .color_tag #F20530
                    .color_block.color_block_red
                .color_chip
                    .color_tag #038C4C
                    .color_block.color_block_green
                .color_chip
                    .color_tag #048ABF
                    .color_block.color_block_blue
                .color_chip
                    .color_tag #F2C166
                    .color_block.color_block_yellow
                h5 BUTTON EXAMPLE
                .button Example
                .button.button_green Example
                .button.button_blue Example
                .button.button_yellow Example
        .content.content_color2
            .max_width
                h5 Style Guildline
                h1 クレヨンしんちゃん-40px
                h1.small_english Crayon Shin-chan
                .title_hr
                h2 クレヨンしんちゃん-30px
                h2.small_english Crayon Shin-chan
                h3 クレヨンしんちゃん-20px 
                h3.small_english Crayon Shin-chan
                hr
                h5 VI Colors
                .color_chip
                    .color_tag #F20530
                    .color_block.color_block_red
                .color_chip
                    .color_tag #038C4C
                    .color_block.color_block_green
                .color_chip
                    .color_tag #048ABF
                    .color_block.color_block_blue
                .color_chip
                    .color_tag #F2C166
                    .color_block.color_block_yellow
                h5 BUTTON EXAMPLE
                .button Example
                .button.button_green Example
                .button.button_blue Example
                .button.button_yellow Example

        .content.content_color3
            .max_width
                h5 Style Guildline
                h1 クレヨンしんちゃん-40px
                h1.small_english Crayon Shin-chan
                .title_hr
                h2 クレヨンしんちゃん-30px
                h2.small_english Crayon Shin-chan
                h3 クレヨンしんちゃん-20px 
                h3.small_english Crayon Shin-chan
                hr
                h5 VI Colors
                .color_chip
                    .color_tag #F20530
                    .color_block.color_block_red
                .color_chip
                    .color_tag #038C4C
                    .color_block.color_block_green
                .color_chip
                    .color_tag #048ABF
                    .color_block.color_block_blue
                .color_chip
                    .color_tag #F2C166
                    .color_block.color_block_yellow
                h5 BUTTON EXAMPLE
                .button Example
                .button.button_green Example
                .button.button_blue Example
                .button.button_yellow Example