doctype html
html
    head
        title Practice_Bear1
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="Practice_Bear1.css")
        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
        script(src="Practice_Bear1.js")

    body
        img#bear(src="https://i.postimg.cc/c6yb7sB8/left.png",alt="")
        #paw
            .all
                .circle.circle1
                .circle.circel2
                .circle.circel3
                .btncircle
            
