doctype html
html
    head
        title Practice_transition-duration_delay
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="Practice_transition-duration_delay.css")
    body
        .cross
            .line1
            .line2

        .block
            h1 標題
            p 內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文