doctype html
html
    head
        title Practice_animation_keyframes
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="Practice_animation_keyframes.css")
    body
        .box
            .block.block1 
            .block.block2 
            .block.block3 
            .block.block4 
            .block.block5 