doctype html
html
    head
        title RWD_Practice1
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="Practice1.css")
    
    body
        .container
            .block.a
                h4 RWD原理與應用 - 指定比例尺寸%與max-width / min-width
                img.icon(src="https://png.pngtree.com/png-vector/20230817/ourmid/pngtree-google-apps-vector-png-image_9183286.png")
            .block.b
                h4 B (70%)
            .block.c
                h4 C (30%)
            .block.d
                h4 D (35%)
            .block.e
                h4 E (35%)
            .block.f
                h4 F (30%)
            .block.g
                h4 G (100%)