doctype html
html
    head
        title Pratice_jquery_html/css
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="PhoneDemo.css")
        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
        script(src="PhoneDemo.js")
    body
        .phone
            .top
                .camera
            .screen
                .pages
                    .page.page1
                        h2 Blue
                        h1 藍
                        .blue
                    .page.page2
                        h2 Page2
                        p 藍色是一種顏色，它是紅綠藍光的三原色中的其中一元，在這三種原色中它的波長最短（約440-470奈米）。在傳統色彩學上，藍色也被認為是三原色之一。
                    .page.page3
                        h2 Page3
                        p 藍色是一種顏色，它是紅綠藍光的三原色中的其中一元，在這三種原色中它的波長最短（約440-470奈米）。在傳統色彩學上，藍色也被認為是三原色之一。
                .hair.hair1
                .hair.hair2
            .bottom
                .button □
        h3.status HELLO
        h2.phonename iPhoneSE
        .buttons
            button.ise iPhoneSE
            button.i14 iPhone14
            button.i15 iPhone15
            button.ipad iPad
            button.wiggle wiggle
            button.turn turn around