doctype html
html
    head
        title Practice_attr
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="Practice_attr.css")
    body
        div(data-size="small", data-color="red") 按鈕
        div(data-size="medium", data-color="purple") 按鈕
        div(data-size="large", data-color="blue") 按鈕