doctype html
html
    head
        title Practice_Bear2
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="Practice_Bear2.css")
        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
        script(src="Practice_Bear2.js")

    body
        img.bear#bear1(src="https://i.postimg.cc/9MDrqLqR/sit.png",alt="")
        img.bear#bear2(src="https://i.postimg.cc/tRVsqmj8/stand.png",alt="")
        img.bear#bear3(src="https://i.postimg.cc/wvV52qqy/stand2.png",alt="")
        #paw
            .all
                .circle.circle1
                .circle.circel2
                .circle.circel3
                .btncircle
