doctype html
html
    head
        title jquery_variable
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="jquery_variable.css")
        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
        script(src="jquery_variable.js")
    body
    .count
        .minus -
        .num 12
        .add +
        .text 警示訊息
        .fill_stock ☎️ 請點此連絡廠商補充庫存